<section class="nl-cu">
    <footer>
        <div class="newsletter">
            <div class="container newsletter-main">
                <form action="" class="nl-sbfm">
                    <div class="col-8 nlem-space">
                        <input type="text" class="nl-em" placeholder="One Way to Stay Upated...">
                    </div>
                    <div class="col-3 nlsb-space">
                        <button type="submit" class="nlsb">
                            <p>Stay Updated</p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="ft-nvbr">
            <div class="container">
                <div class="pt-5">
                    <div class="row">
                        <div class="col-6 col-lg-3 mb-3">
                            <h5>
                                <div class="footer-logo">
                                    <img src="../../../assets/images/footer-logo.png" alt="FuElectric" class="mb-3">
                                </div>
                            </h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Products</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About Us</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-3 mb-3">
                            <h5>FAQs</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">How much price we get?</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Is there any service charges?</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">What's the warranty available to product?</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Is home delhivery available?</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Any additional accessories comes or not?</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-5 offset-md-1 mb-3">
                            <form id="footer-subscribe-form">
                                <h5>Subscribe to our newsletter</h5>
                                <p>Monthly digest of what's new and exciting from us.</p>
                                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                    <label for="newsletter1" class="visually-hidden">Email address</label>
                                    <input id="newsletter1" type="text" class="form-control"
                                        placeholder="Email address">
                                    <button class="btn subs-btn" type="button">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                        <p>© 2024 Company, Inc. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>