header {
    height: 125px;
    border-bottom: solid #6ca6b4;
    box-shadow: 0 0 4px #000000ab;
    z-index: 10;
}
.mail {
    margin: auto;
}
.location {
    text-transform: capitalize;
}
i.fa-solid.fa-location-dot, i.fa-solid.fa-envelope, i.fa-solid.fa-phone {
    font-size: 14px;
}
.top-header {
    background-color: black;
    color: white;
    height: 30%;
    transition: all 0.5s;
}
.top-header>.container {
    display: flex;
    height: 100%;
    align-items: center;
}
.menu-header {
    background-color: white;
    position: relative;
    padding: 0px 20px;
    display: flex;
    height: 70%;
}
.site-logo {
    padding: 2%;
    height: 100%;
    display: flex;
    align-items: center;
}
nav.navbar {
    height: 100%;
    margin: auto;
    transition: all 1s;
}
.collapse.navbar-collapse, .collapse.navbar-collapse.show {
    transition: all 1s;
}
.navbar-nav {
    margin: auto;
}
ul {
    height: 100%;
    align-items: center;
}
.navbar-header {
    height: 100%;
}
.site-logo>a {
    height: 100%;
}
.site-logo>a>img {
    width: 100%;
    height: 100%;
}
.nav-item {
    margin-right: 50px;
}
.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.767);
}
.nav-item>a {
    color: black;
    font-weight: 500;
}
.nav-link {
    padding: 0!important;
}
/* .nav-link:focus {
    background-color: #82cadb;
} */
.navbar-header > .navbar-toggler {
    outline: none;
    border: none;
    font-size: 20px;
    box-shadow: none;
}



@media only screen and (max-width: 768px) {
    nav.navbar {
        position: static;
        width: 100%;
    }
    .navbar-header {
        display: flex;
        width: 100%;
    }
    #mybar {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 2;
        margin-top: 1%;
        line-height: 3;
        background-color: #6ca6b4;
    }
    .nav-item {
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .mail {
        display: none;
    }
    .top-header > .container {
        justify-content: space-around;
    }
    .nav-item>a {
        color: white;
    }
    .site-logo > a {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .site-logo {
        margin-right: auto;
    }
    .site-logo > a > img {
        width: 60%;
        height: fit-content;
    }
    .navbar-header {
        width: 100%;
        display: flex;
    }
}